# Core libraries

tensorflow==2.14.0
transformers==4.36.2
tensorflow-io
torch

# Audio Processing

librosa
soundfile
pydub

# Data Preprocessing 

numpy==1.24.3
pandas
scikit-learn

# Visualization

matplotlib
seaborn


# Dev requirements

ipykernel